# TODO: Enable the disabled checks.
Checks:
  modernize*,
  cppcoreguidelines*,
  misc*,
  google*,
  clang-analyzer*,
  hicpp*,
  performance*,
  readability*,
  -google-readability-todo,
  -hicpp-named-parameter,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -readability-avoid-const-params-in-decls,
  -readability-identifier-length,
  -readability-named-parameter,
