# Copy this file to /etc/default/atosfleetmanagement and adjust values.
INSECURE=True
WITH_TRUCK_SIMULATOR=False
FOXBRIDGE=True
ROS_DOMAIN_ID=42
COT_TLS_REQUIRE_CLIENT_CERT=False
COT_TLS_CERT_PATH=
COT_TLS_KEY_PATH=
COT_TLS_CA_PATH=
SIMULATOR_1_LATERAL_OFFSET_M=0.0
SIMULATOR_2_LATERAL_OFFSET_M=0.0
SIMULATOR_3_LATERAL_OFFSET_M=0.0
