.panel
    .panel-header
        h1 Configuration Panel
    .panel-body
        form(action="/save-config", method="POST")
            //- label(for="name") Name:
            //- input(type="text", id="name", name="name")
            //- label(for="email") Email:
            //- input(type="email", id="email", name="email")
            label(for="file") Select File:
            input(type="file", id="file", name="file")
            button(type="submit") Save
