
doctype
html( lang="en" )
head
  title ATOS Config Panel
  meta( charset='utf-8' )
  style.
    @import url("jsonform/deps/opt/bootstrap.css");

body
.container
  .row
    .col-md-7
      h2 ATOS Config Panel
      form#form.well (please wait)
script(src='jsonform/deps/jquery.min.js')
script(src='jsonform/deps/underscore.js')
script(src='jsonform/deps/opt/ace/ace.js')
script(src='jsonform/deps/opt/ace/mode-json.js')
script(src='jsonform/lib/jsonform.js')
script(src='javascripts/configClient.js')

