name: Docker Image CI

on: workflow_call

jobs:
  build:
    runs-on: ubuntu-latest
    container: ros:humble
    steps:
    - name: Check out repository
      uses: actions/checkout@v3
      with:
        submodules: recursive
  
    - name: Restore build cache
      id: cache-build
      uses: actions/cache@v4
      with:
        path: |
          /github/home/atos_ws/build
          /github/home/atos_ws/install
        key: ${{ runner.os }}-build

    - name: Print build folder
      run: |
        ls -R /github/home/atos_ws/build
      shell: bash

    - name: Install ATOS
      if: steps.cache-build.outputs.cache-hit != 'true'
      run: |
        ./setup_atos.sh
      shell: bash

    - name: Upload build folder
      uses: actions/upload-artifact@v4
      with:
        name: build-folder
        path: /github/home/atos_ws/build