name: Docker Image CI

on:
  push:
    branches: [ "dev*", "master" ]
  pull_request:
    branches: [ "dev" ]

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

env:
  TEST_TAG: astazero/atos_docker_env:test

jobs:
  build_and_test_docker_image:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Checkout 
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Build Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        file: Dockerfile
        load: true
        tags: ${{ env.TEST_TAG }}
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Run colcon test on docker image
      run: |
        docker run --rm ${{ env.TEST_TAG }} bash -c "colcon test --return-code-on-test-failure --event-handlers console_cohesion+"

    - name: Run scenario integration test
      run: |
        docker compose -f docker-compose-test.yml up --abort-on-container-exit