name: Docker Image CI

on:
  push:
    branches: [ "fix_*" ]

jobs:
  build_dockerImage:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Checkout 
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Build Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        file: Dockerfile
        cache-from: type=gha
        cache-to: type=gha,mode=max