name: clang-tidy-review

# You can be more specific, but it currently only works on pull requests
on: 
  workflow_call:
    inputs:
      target_files: 
        description: 'The list of files to be checked by clang-tidy'
        required: true
        default: ''
        type: string

jobs:
  clang-format:
    runs-on: ubuntu-latest
    container: ros:humble
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Restore build cache
        uses: actions/cache@v2
        with:
          path: |
            /github/home/atos_ws/build
            /github/home/atos_ws/install
          key: ${{ runner.os }}-build

      - name: Install clang-format
        run: |
          sudo apt-get -yqq update
          sudo apt-get -yqq install clang-format
        shell: bash
  
      - name: Run clang-format style check.
        id: clang-format
        env: 
          ALL_CHANGED_FILES: ${{ inputs.target_files }}
        run: |
          mkdir /tmp/clang-format-result
          for file_path in ${ALL_CHANGED_FILES}; do
            folder_name="${file_path%/*}/"
            mkdir -p /tmp/clang-format-result/$folder_name
            clang-format ${file_path} > /tmp/clang-format-result/${file_path} || true
          done
  
      - name: Upload clang-format result
        uses: actions/upload-artifact@v4
        with:
          name: clang-format-result
          path: /tmp/clang-format-result/
