[Unit]
# Pretty description
Description=Maestro core modules

# Dependencies on other services or targets
After=network.target

[Service]
# Executable must call sd_notify when startup is complete
# in order for dependent services to start
Type=notify

# If executable does not sd_notify after this time it is
# considered to have failed startup
TimeoutStartSec=5

# If ExecStop does not complete after this long, send
# SIGTERM to executable
TimeoutStopSec=5

# Executable must call sd_notify with WATCHDOG=1 at least
# this often in order to be considered still alive
#WatchdogSec=1

# What exit modes to restart for
Restart=no

# Wait this long before restarting after exit
RestartSec=5

# Run executable as this user (TODO: autoconfig)
User=lukas

# Executable to run (TODO: mbus sockets)
ExecStart=/usr/local/bin/Core
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
